<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/index.css">
    <title>Text2Me</title>
  </head>
  <body>
    <nav>
      <div class="main-content">
        <a href="/">Text2Me</a>
        <div id="navbarSupportedContent">
          <ul>
            <li>
              <a href="/">Inici</a>
            </li>
            <li>
              <a href="/contact">Contacte</a>
            </li>
            <li>
              <a href="/xatList">Xats</a>
            </li>
			<li>
			  <a href="/perfil">Perfil</a>
			<li>
          </ul>
          <ul>
            <li>
              <a href="/login">Inicia la sessió / Canvïa de compte</a>
            </li>
			<li>
              <a href="/register">No tens compte encara? Registra't</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </body>
</html>
