<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Text2Me - Inicia la sessió</title>
</head>

<body>
	
<div class="container">
<div class="login-form">
	<h2>Inicia la sessió</h2>
	<form action = "/login" method = "post">
		<div class="input-group">
		    <label for="email">Correu</label>
		    <input type="text" id="email" name="email" required>
		</div>
		<div class="input-group">
		    <label for="password">Contraseya</label>
		    <input type="password" id="password" name="password" required>
		</div>
		<button type="submit" class="login-button">Entra</button>
		<br>
		<br>
    </form>
		
	<form action = "/" method = "get">
		<button type ="submit" class="return-button">Torna enrere</button>
	</form>

	
</div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
