<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/profile.css">
    <title>Text2Me - perfil</title>
  </head>
  <body>
    
    <div class="main-content">
    	<div>
            <h1>Editar perfil</h1>
            <hr>
			<h3>Nom </h3>
			<input type ="text" id="nameInput"> 
			<br>
			<h3>Cognom </h3>
			<input type ="text" id="lastnameInput"> 
			<br>
			<h3>Email </h3>
			<input type ="text" id="emailInput"> 
			<br>
			<h3>Telefon </h3>
			<input type ="text" id="phoneInput"> 
			<br>
			<h3>Adreça</h3>
			<input type ="text" id="addressInput"> 
			<br>
			<h3>Imatge de perfil </h3>
			<img src="/perfil/imatge" alt="Foto de perfil" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
			<br>
			<br>
			<form action="/perfil/actualitzar-foto" method="post" enctype="multipart/form-data">
			  <input type="file" name="imatgePerfil" accept="image/*" required>
			  <button type="submit">Penjar foto</button>
			</form>
			<br>
			<button onclick="updateProfileInput()">Actualitzar Perfil</button>
			<br>
			<br>
			<a href="/">Torna a la pàgina inicial</a>
		
			<script>
				function updateProfileInput() {
					const updatedData = {
				    firstName: document.getElementById("nameInput").value,
					lastName: document.getElementById("lastnameInput").value,
					email: document.getElementById("emailInput").value,
					phone: document.getElementById("phoneInput").value,
					address: document.getElementById("addressInput").value
					};
					
					
					fetch(`/perfil/actualitzar-dades`, {
						method: 'PUT',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(updatedData)
					})
					.then(res => {
						if(res.ok){
							alert("perfil actualizat correctament!");
						} else {
							alert("Error al actualitzar el pefil!");

						}
					});
									
					
				} 
			
				window.onload = function(){
					fetch("/api/perfil")
                    .then(response => response.json())
					.then(data => {
                        if(data) {
                            document.getElementById('nameInput').value = data.firstName || "";
                            document.getElementById('lastnameInput').value = data.lastName || "";
                            document.getElementById('emailInput').value = data.email || "";
                            document.getElementById('phoneInput').value = data.phone || "";
							document.getElementById('addressInput').value = data.address || "";
                        }
                    })
                    .catch(error => console.error("Error! " , error))
				}
			</script>
    
  </body>
</html>
