<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>text2Me</title>
</head>
<body>
  <div class="container">
    <div class="register-form">
      <h2>Regístra't</h2>
      <form action="/register" method="post"> 
        <div class="input-group">
          <label for="nom">Nom*</label>
          <input type="text" id="nom" name="nom" required>
        </div>
        <div class="input-group">
          <label for="cognom">Cognom*</label>
          <input type="text" id="cognom" name="cognom" required>
        </div>
        <div class="input-group">
          <label for="email">Email*</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
          <label for="telefon">Telefon*</label>
          <input type="tel" id="telefon" name="telefon" required>
        </div>
        <div class="input-group">
          <label for="adreca">Adreça</label>
          <input type="text" id="adreca" name="adreca">
        </div>
        <div class="input-group">
          <label for="password">Password*</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
          <label for="confirm_password">Confirmació del Password*</label>
          <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="register-button" id="registrationButton">Registrar-se</button>
		<br>
		<br>
      </form>
	  <form action = "/" method="get">
		<button type ="submit" class="return-button">Torna enrere</button>
	  </form>
		
		
    </div>
  </div>
  <script src="/js/script.js"></script>
  <script>
    const registrationButton = document.getElementById("registrationButton");
    registrationButton.addEventListener('click', (event) => {
      event.preventDefault(); 

      const firstName = document.getElementById('nom').value;
      const lastName = document.getElementById('cognom').value;
      const email = document.getElementById('email').value;
      const phone = document.getElementById('telefon').value;
      const address = document.getElementById('adreca').value;
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirm_password').value;

      if(password === confirmPassword){
        const data = {
          firstName: firstName,
          lastName: lastName,
          email: email,
          phone: phone,
          address: address,
          password: password,
          confirmPassword: confirmPassword
        };

        const jsonData = JSON.stringify(data);
        fetch('/register', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: jsonData
        })
        .then(response => response.json())
        .then(result => {
          console.log("Usuario registrado:", result);
        })
        .catch(error => {
          console.error("Error en el registro:", error);
        });
      } else {
        alert("Las contraseñas no coinciden");
      }
    });
  </script>


</body>
</html>

