<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text2Me - xats</title>
	<link rel="stylesheet" href="/css/xatList.css">
</head>

<body>

    <div class="main-content">
        <div>
            <h1 id="userTitle">Els teus xats</h1>
            <hr>

            <div id="chatsHeader">
                <input type="text" id="searchUsersInput" placeholder="cerca usuaris...">
                <i></i>

                <br>
                <br>

                <button id="searchUsersButton"onclick="searchUsers()">Cercar usuaris</button>

                <br>
                <br>

                <ul id="results"> </ul>

            </div>

            <div id="searchMessage"></div>

            <h2>Xats recents</h2>

            <div id="chatsLoaded">

                <ul id="chatList"> </ul>

            </div>

            <br>

            <br>
            <a href="/">Torna a la pàgina inicial</a>
        </div>
    </div>

    <script>

        fetch(`/xatList/xatUsers`)
            .then(res => res.json())
            .then(data => {
                const list = document.getElementById("chatList");
                data.forEach(chat => {
                    const li = document.createElement("li");
                    const link = document.createElement("a");
                    link.href = `/xats?email=${encodeURIComponent(chat.email)}`; // reedirecció al xat previament iniciat.
                    link.textContent = `Xat amb ${chat.name}`;

                    li.appendChild(link);
                    list.appendChild(li);

                })
            })
            .catch(error => console.error("Error carregant els xats:", error));

        function searchUsers() { // funció que realitza la logica del filtratge d'usuaris per nom.
            const name = document.getElementById("searchUsersInput").value;

            fetch(`/xatList/userSearch/${name}`)
                .then(res => res.json())
                .then(data => {
                    const list = document.getElementById("results");
                    list.innerHTML = ""; // neteja resultats anteriors.


                    const messageBox = document.getElementById("searchMessage");


                    if (data.length === 0) {
                        messageBox.innerHTML = `
								<div>
									No s'ha trobat cap usuari amb aquest nom.
								</div>
							`;
                        return;
                    } else {
                        messageBox.innerHTML = "";
                    }


                    data.forEach(user => {
                        const li = document.createElement("li");
						li.classList.add("usuari-item");
                        li.textContent = `${user.name} (${user.email})`;
						

                        const btn = document.createElement("button");
                        btn.textContent = "Obrir xat";
						btn.classList.add("obrirChat-boto")
                        btn.onclick = () => {
                            window.location.href = `/xats?email=${encodeURIComponent(user.email)}`;

                        };

                        li.appendChild(btn);
                        list.appendChild(li);
                    });
                })
                .catch(err => {
                    console.error("Error en la cerca d'usuaris:", err); // informem de l'error.
                });
        }
    </script>
	
	<footer> 
		© 2025 Text2Me. Tots els drets reservats.
		L’ús d’aquesta aplicació implica l’acceptació de les nostres polítiques de privacitat i condicions d’ús. 
		Text2Me respecta la teva privacitat i protegeix les teves dades d’acord amb la legislació vigent.
	</footer>

</body>

</html>