<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text2Me - envia un missatge</title>
    <link rel="stylesheet" href="/css/xats.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Nunito&family=Poppins&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
	
    <div class="main-content">
        <div>
			<div id="chatHeader">
                <img id="receptor-image">
                <h2 id="chatTitle"></h2>
            </div>
            <hr>
            <ul id="messages"></ul>
            <br>
            <br>

            <input type="hidden" id="receiverEmail" value="">
            <!--Camp de dades en ocult que ens serveix per enmagatzemar el correu del receptor-->

            <script>

                let socket = new WebSocket("ws://localhost:8080/ws");

                socket.onmessage = function (event) {

                    const data = JSON.parse(event.data);

                    const from = data.from; // usuari remitent.
                    const to = data.to; // usuari receptor.
                    const message = data.message;

                    const userMessage = from + " " + message;

                    fetch(`xats/user/image/${from}`) // Aqui ens comuniquem amb la bbdd i extraiem la imatge en base al email de l'usuari'
                        .then(response => response.blob())
                        .then(blob => {

                            const imageUrl = URL.createObjectURL(blob);

                            let li = document.createElement("li");

                            let wrapper = document.createElement("div");
                            wrapper.className = "message-image"

                            let img = document.createElement("img");
                            img.src = imageUrl;
                            img.onclick = (data) => {
                                window.location.href = `/infoUsuari?email=${encodeURIComponent(from)}`;
                            };

                            let span = document.createElement("span");
                            span.textContent = userMessage;

                            wrapper.appendChild(img);
                            wrapper.appendChild(span);

                            li.appendChild(wrapper);

                            document.getElementById("messages").appendChild(li);

                        })

                        .catch(error => {
                            console.error("error al carregar la imatge", error)
                        });
                };

                function getQueryParam(param) { // Aquesta funció agafa el email que enviem per parametre desde la vista anterior.
                    const urlParams = new URLSearchParams(window.location.search);
                    return urlParams.get(param);
                }

                document.addEventListener("DOMContentLoaded", function () {
                    const receptorEmail = getQueryParam("email");
                    document.getElementById("receiverEmail").value = receptorEmail;

                    document.getElementById("chatTitle").textContent = receptorEmail;


                    fetch(`/xats/user/image/${receptorEmail}`)
                        .then(res => res.blob())
                        .then(blob => {
                            const imageUrl = URL.createObjectURL(blob);
                            const img = document.getElementById("receptor-image");
                            img.src = imageUrl;


                        })

                    fetch(`/xats/messages/${receptorEmail}`) // Fem la petició cap al backend perque es comuniqui amb la bbdd i ens carregui els missatges.
                        .then(res => res.json())
                        .then(messages => {
                            const container = document.getElementById("messages");
                            messages.forEach(msg => {

                                fetch(`/xats/user/image/${msg.from}`)
                                    .then(response => response.blob())
                                    .then(blob => {

                                        const imageUrl = URL.createObjectURL(blob);

                                        const li = document.createElement("li");

                                        let wrapper = document.createElement("div");
                                        wrapper.className = "message-image";

                                        const img = document.createElement("img");
                                        img.src = imageUrl;

                                        img.addEventListener("click", () => { // redirecció cap a la vista previa de l'usuari amb algunes dades.
                                            window.location.href = `/infoUsuari?email=${encodeURIComponent(msg.from)}`;

                                        });

                                        const span = document.createElement("span");
                                        span.textContent = `${msg.from}: ${msg.content}`;

                                        wrapper.appendChild(img);
                                        wrapper.appendChild(span);

                                        li.appendChild(wrapper);

                                        container.appendChild(li);
                                    })

                            })
                        })
                });

                function sendMessage() { // funció per enviar els missatges seguint el format JSON predefinit.

                    const input = document.getElementById("messageInput");
                    const to = document.getElementById("receiverEmail").value;

                    const messageData = {
                        message: input.value,
                        to: to
                    };


                    socket.send(JSON.stringify(messageData));
                    input.value = "";


                }

                socket.onerror = function (error) {
                    console.error(" Error amb el WebSocket:", error);
                };

            </script>
            <br>

            <input type="text" id="messageInput" placeholder="Escriu un missatge...">
            <button onclick="sendMessage()" id="messageButton">Enviar</button>

            <br>
            <br>
            <a href="/xatList">Torna enrere</a>
        </div>
    </div>
	<footer> © 2025 Text2Me. Tots els drets reservats.
	L’ús d’aquesta aplicació implica l’acceptació de les nostres polítiques de privacitat i condicions d’ús. 
	Text2Me respecta la teva privacitat i protegeix les teves dades d’acord amb la legislació vigent.
	</footer>
</body>

</html>